.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  width: 100%;
  margin-top: 40px;
}

.row-up {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.team {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  display: grid;
  flex-direction: column;
  display: grid;
  columns: 2;
}

.battles {
  margin-top: 20px;
  border-radius: 15px;
  min-width: 700px;
  width: 100%;
  max-width: 400px;
  height: 100%;
  margin-left: 25px;
}

.user {
  border-radius: 15px;
  border: 4px solid #66666639;
  width: 400px;
  min-width: 350px;
  height: 30%;
  margin-top: 20px;
  display: flex;
  background-color: #181820;
}

.user img {
  margin-top: 2px;
  width: 180px;
  height: auto;
  margin-left: 5px;
}

.usertags {
  grid-column: 1;
  margin-top: 70px;
}

.trainer {
  font-size: 24px;
  font-weight: bolder;
  line-height: 1;
}

.trainerName {
  font-size: 18px;
  font-weight: bolder;
  background: linear-gradient(45deg, #8c00ff, #ff00bf, #ffea00);
  -webkit-background-clip: text;
  color: transparent;
}

.teamtext {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}
.cardsteams {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.battlescards {
  display: flex;
  width: 93%;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.battlescards::-webkit-scrollbar {
  width: 8px; 
  height: 8px; 
}

.battlescards::-webkit-scrollbar-thumb {
  background-color: rgba(67, 67, 67, 0.3); 
  border-radius: 4px; 
}

.battlescards::-webkit-scrollbar-track {
  background-color: transparent; 
}

.battlescards::-webkit-scrollbar-button {
  display: none; 
}

@media (max-width: 700px) {
  .rows {
    grid-template-columns: 1fr;
  }

  .row-up {
    display: grid;
    flex-direction: column;
    width: 100%;
  }

  .home-page {
    width: 100%;
  }

  .home-page .user {
    width: 99%;
    height: 190px;
    min-width: 300px;
  }

  .home-page .battles {
    width: 99%;
    min-width: 290px;
    height: 290px;
    margin-left: 0;
  }

  .home-page .user img {
    margin-top: 2px;
    width: 180px;
    height: auto;
    margin-left: 5px;
  }

  .home-page .team {
    margin-top: -40px;
    width: calc(100% - 1px);
    height: 400px;
  }

  .usertags {
    grid-column: 1;
    margin-top: 50px;
  }

  .trainer {
    margin-top: 40px;
    font-size: 24px;
    font-weight: bolder;
    margin-right: 10px;
    line-height: 1;
  }

  .trainerName {
    font-size: 18px;
    font-weight: bolder;
    line-height: 1;
  }

  .mininav {
    max-height: 50px;
  }

  .cardsteams {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas */
  }

  .teamtext {
    margin-left: 32;
  }

  .battlescards {
    width: 100%;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    width: 370px;
  }
}

@media (min-width: 768px) {
  .rows {
    grid-template-columns: 1fr 1fr;
  }

  .home-page {
    width: auto;
  }
}
