@import "tailwindcss";


body {
    background-color: #181820;
    color: aliceblue;
    background-image: url('../public/pokefond.webp'); 
    background-size: cover;
    background-repeat: no-repeat;

}
.main-content {
    margin-top: 80px;
}
