@import "tailwindcss";


body {
    background-color: #181820;
    color: aliceblue;
    background-image: url('../public/pokefond.webp'); /* Ruta de la imagen */
    background-size: cover; /* Ajusta la imagen al tamaño de la pantalla */
    background-repeat: no-repeat;
}