.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #181820;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.tittle {
    font-size: 24px;
    font-weight: 700;
  }